<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body background="http://www.mmk.pe.kr/wallpapers/003/muphy_wallpaper_keroro_v1_w1610_1280.jpg">
    <h1>เกี่ยวกับค่ะ<p></p>
    <a href="/">หน้าแรก</a>|<a href="/about">เกี่ยวกับ</a>
    <content></content>
</body>
</html>