<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body background="http://www.mmk.pe.kr/wallpapers/003/muphy_wallpaper_keroro_v1_w1610_1280.jpg">
    <h1><%= title %></h1>

      <a href="/">หน้าแรก</a>|<a href="/about">เกี่ยวกับ</a>